/*========================
Declare variables for page
=========================*/
:root {
  /*color scheme*/
  --page-background: #faf3dd; /*Beige*/
  --box-background: #c8d5b9; /*Khaki*/
  --border: #8fc0a9; /*Grass*/
  --sub-border: #68b0ab; /*Teal*/
  --text: #696d7d; /*Violet*/
}

/*=================
Back to Basics
===================*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background: var(--page-background);
  color: var(--text);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*======
Layout
========*/
.container {
  width: 85%;
  background: var(--border);
  border: 4px solid var(--border);
  border-radius: 8px;
  padding: 10px 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.container section {
  width: 100%;
  margin: 10px;
  border: 2px solid var(--sub-border);
  border-radius: 8px;
  padding: 10px;
  background: var(--box-background);
  display: flex;
}

section header {
  flex: 1;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .box {
  padding: 15px;
  flex: 2;
  border-left: 2px solid var(--sub-border);
}
/*=============
Text and fonts
===============*/

/*fallback fonts - never shall Times New Roman be seen again!!!*/
h1,
h2,
p,
a,
li {
  font-family: Verdana, sans-serif;
}

h1 {
  padding: 20px;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  text-shadow: 2px 2px 2px #aaa;
  border-bottom: 0.3rem solid var(--border);
}

h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
}

.mini-header {
  text-decoration: underline;
}
p {
  line-height: 1.5rem;
}

/*special "Look at me" text highlights*/
.highlighter {
  font-style: italic;
}

/*=============
Responsiveness
===============*/
@media screen and (max-width: 768px) {
  .container section {
    flex-flow: column nowrap;
  }

  section .box {
    padding: 5px;
    border-left: none;
    border-top: 2px solid var(--sub-border);
  }
}

/*==========================
Ye old timer printing view
===========================*/
@media print {
  body {
    background: none;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
  }

  .container {
    width: 100%;
    border: none;
    padding: 0;
  }

  .container section {
    flex-flow: column nowrap;
    border: none;
    padding: 0;
    margin: 0;
  }

  section .box {
    padding: 0;
    border-left: none;
  }
}
